# databases:
#   - name: pronet-postgres
#     databaseName: profession_db
#     plan: free

services:
  # User Service
  - type: web
    name: pronet-user-service
    runtime: node
    plan: free
    rootDir: services/user-service
    buildCommand: npm install --production=false --legacy-peer-deps && npm run build
    startCommand: npm run start
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: DATABASE_SSL
        value: true
      - key: DATABASE_HOST
        sync: false
      - key: DATABASE_PORT
        sync: false
      - key: DATABASE_USER
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: DATABASE_NAME
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_CALLBACK_URL
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_SECURE
        sync: false
      - key: GOOGLE_REFRESH_TOKEN
        sync: false
      - key: DAILY_API_KEY
        sync: false
      - key: STREAM_API_KEY
        sync: false
      - key: STREAM_SECRET_KEY
        sync: false
        
  # API Gateway
  - type: web
    name: pronet-api-gateway
    runtime: node
    plan: free
    rootDir: services/api-gateway
    buildCommand: npm install --production=false --legacy-peer-deps && npm run build
    startCommand: npm run start
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: USER_SERVICE_URL
        fromService:
          type: web
          name: pronet-user-service
          envVarKey: RENDER_EXTERNAL_URL
      - key: JWT_SECRET
        sync: false


